.add_list {
    background-color: #fff4e6;
    width: 400px;
    padding: 30px;
    /* height: fit-content; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 230px;

}

/* .row_list {
    display: flex;
    justify-content: center;
    align-items: center;

} */

.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.frd_Pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addBtn button {
    display: inline-block;
    background-color: #ffa94d;
    font-size: 16px;
    border-radius: 5px;
    padding: 6px 30px;
    cursor: pointer;
    margin-left: 200px;

}

.addBtn button:hover {

    background-color: #eccba8;
}

.close_btn {
    display: inline-block;
    background-color: #ffa94d;
    font-size: 16px;
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;

    margin-top: 10px;


}

.close_btn:hover {
    background-color: #eccba8;
}

.add-card {


    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
}

.close {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #ffa94d;
    cursor: pointer;
    margin-left: 30%;
    margin-top: 20px;
}

.select-btn close:hover {
    background-color: #eccba8;
}

.none {
    display: none;
}

.block {
    display: block;
}